$color-primary: #0095da;

$color-header: #666666;
$color-text: #333333;
$color-error: #f86c6b;
$color-success: #1cb841;
$color-background: #eef5f9;
$color-menu: #fff;

$color-text-light: #67757c;
$color-line-light: #ddd;

$side-panel-width: 200px;
$top-panel-height: 60px;


$base-line: 10px;

$text-small: 12px;
$text-medium: 16px;
$text-large: 24px;
$icon-large: 32px;

$radius: 2px;

$layer-side: 10;
$layer-top: 100;
$layer-map: 1;
